.header {
    padding: 50px 0 40.25px;
    background-color: $bg-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;

    &__logo {
        width: 101.12px;
        height: 32px;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}