.roadmap {
    padding: 78.37px 0 52.5px 0;

    @include laptops {
        padding: 50px 0 68px 0;
    }

    @include tablets {
        padding: 51.5px 0 21px 0;
    }

    @include phones {
        padding: 66.5px 0 35px 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: initial;
        justify-content: center;
    }

    &__wrap {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        max-width: 1390px;

        &--first {
            margin-bottom: 64px;

            @include tablets {
                margin-bottom: 109px;
            }
        }

        &--second {
            margin-bottom: 46px;

            @include tablets {
                margin-bottom: 95px;
            }
        }

        &--third {
            margin-bottom: 262px;

            @include tablets {
                margin-bottom: 148px;
            }
        }
    }

    &__title {
        padding-left: 35px;
        font-size: 160px;
        line-height: 164px;
        position: relative;
        margin-bottom: 226px;
        text-align: center;

        @include laptops {
            margin-bottom: 84px;
        }

        @include tablets {
            padding-left: 0;
            margin-bottom: 154px;
        }

        @include phones {
            font-size: 120px;
            line-height: 124px;
            margin-bottom: 158px;
        }

        &::before {
            content: url('../images/fasion.svg');
            display: flex;
            position: absolute;
            bottom: -95px;
            right: -49px;
            width: 161px;
            height: 157px;

            @include tablets-mini {
                bottom: -98px;
                right: 0;
                left: calc(50% + 25px);
            }

            @include phones {
                left: calc(50% + 137px);
            }

            @include phones-mini {
                left: calc(50% + 8px);
            }
        }
    }

    &__list {
        position: relative;
        width: 100%;

        &::before {
            content: '';
            height: 100%;
            width: 0.9px;
            background: $base-color;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);

            @include phones {
                left: 1px;
                transform: translateX(0);
            }
        }
    }

    &__item {
        position: relative;
        z-index: 1;

        &:last-child {
            background-color: $bg-color;
        }

        @include phones {
            padding-left: 25px;
        }
    }

    &__checkpoint {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 31px;
        height: 31px;
        background: #000;
        border: 3px solid $base-color;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        @include phones {
            left: 1px;
        }

        &::before {
            content: '';
            display: flex;
            width: 15px;
            height: 15px;
            background: $base-color;
            border-radius: 50%;
        }

        &--start {
            width: 21px;
            height: 21px;

            &::before {
                display: none;
            }
        }

        &--end {
            width: 29px;
            height: 29px;
            background: $base-color;
        }
    }
}